*{
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;
}
nav{
   display: flex;
   justify-content: space-between;
   padding: 2vh 2vw;
   border-bottom: 2px solid white;
}
.rightNav{
    display: flex;
    justify-content: space-between;
    width: 9vw;
}
input{
    border: none;
    border-bottom: 2px solid white;
    width: 100%;
    height: 30px;
    margin:15px;
}
.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-flow: column; 
}
.signup div{
    width: 60vw;
}

button{
    margin-top: 100px;
    background-color: white;
    color: black;
    width:150px;
    height: 50px;
}

.error{
    color: red;
}
.success{
    color: green;
}